/* Grid */
.grid {
	display: grid;
}

.logo {
	grid-area: logo;
}

.content {
	grid-area: content;
}

.title {
	grid-area: title;
	margin: -15px;
}

.subtitle {
	grid-area: subtitle;
}

.grid-template-areas-2 {
	grid-template-columns: 85% 15%;
	grid-template-areas:
		"title logo"
		"title content";
}
